language: php

sudo: false

php:
  - 7.2
  - 7.3
  - 7.4

matrix:
  fast_finish: true
  include:
    - php: 7.2
      env:
        - PHPUNIT_FLAGS="--coverage-clover build/logs/clover.xml"

before_install:
  - travis_retry composer self-update
  - sudo apt-get install aspell aspell-en

install:
  - travis_retry composer install --no-interaction

script:
 - mkdir -p build/logs
 - vendor/bin/phpcs --standard=PSR12 src/ tests/
 - vendor/bin/phpunit ${PHPUNIT_FLAGS}

after_script:
 - php vendor/bin/coveralls -v
