language: php

sudo: false

php:
    - 5.5
    - 5.6
    - 7.0

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env:
        - COMPOSER_FLAGS="--prefer-stable --prefer-lowest"
        - PHPUNIT_FLAGS="--coverage-clover build/logs/clover.xml"

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction

script:
 - mkdir -p build/logs
 - vendor/bin/phpunit ${PHPUNIT_FLAGS}

after_script:
 - php vendor/bin/coveralls -v
